/Hibernate/Hibernate Saving Class(1-5)/nbproject/private/
/Hibernate/Hibernate Saving Class(1-5)/build/
/Hibernate/Hibernate Saving Class(1-5)/dist/
/Hibernate/Hibenate Embedding/nbproject/private/
/Hibernate/Student/nbproject/private/
/Hibernate/Hibenate Embedding/build/
/Hibernate/Hibernate Attribute/nbproject/private/
/Hibernate/Hibernate Attribute/build/
/Hibernate/Hibernate Attribute/dist/