<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head th:replace="/navbar :: navbarhead">


    <script>
        $(document).ready(function(c) {
            $('.alert').on('click', function(c){
                $('.moda').fadeOut('slow', function(c){
                    $('.moda').remove();
                });
            });
        });
    </script>

</head>
<body>

<div th:replace="/navbar :: navbar">

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div class="panel panel-primary">

        <h2 style="padding-top: 30px;" class="text-center" name="company" th:each="company : ${companyList}"
            th:value="${company.company_id}" th:text="${company.company_name}"></h2>

        <img th:each="company : ${companyList}"  th:src="${'/company/' + company.company_id}" style="margin-top: -70px; width: 100px; height: 100px; border-radius: 25%;">
        <b th:text="${execInfo.now.time}"  style="margin-left: 590px" ></b>
        <div class="period">
            <h4 style="float: right; margin-top: -30px; margin-right: 100px;">Cuurent Period</h4>
            <div class="da" style="margin-top: -40px; padding-bottom: 50px;">
                <div  class="date" style="float: right; margin-right: 50px;" th:each="company : ${companyList}">
                    <p>to</p>
                    <p  style="float: right; padding-right: 20px; padding-left: 20px; margin-top: -30px;" th:text="${company.enddate}"></p>

                </div>

                <div  style="float: right;" class="date" th:each="company : ${companyList}">
                    <p  style="float: right; padding-right: 10px;" th:text="${company.startdate}"></p>

                </div>
            </div>

        </div>

        <h3 class="panel-heading text-center">Trial Balance</h3>

                    <!--&lt;!&ndash;<a sec:authorize="hasAnyRole('ROLE_USER')" th:href="@{'/navbar/'+${companyId}+'/ledger/edit/' + ${groumSum.getId()}}"  class="btn btn-info" type="button">Edit</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<a sec:authorize="hasAnyRole('ROLE_USER')" th:href="@{'/navbar/' + ${company.getCompany_id()}}" class="btn btn-info">Open</a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<a sec:authorize="hasAnyRole('ROLE_USER')" th:href="@{'/navbar/'+${companyId}+'/ledger/delete/' + ${groumSum.getId()}}" class="btn btn-danger">Delete</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</td>&ndash;&gt;-->

            <!--</tr>-->

            <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <div class="col-xs-12">

        <table class="table table-striped ">

            <thead>
            <tr>
                <th>Group Name</th>
                <th>Debit </th>
                <th>Credit </th>

            </tr>
            </thead>
            <tbody>
            <tr  th:each="groumSum: ${accountingVoucherList}">
                <td th:text="${groumSum.getDebitId()}"></td>
                <!--<td th:text="${groumSum.getCreditId()}"></td>-->
                <td th:text="${groumSum.getDebit() == 0} ? '0' : ${groumSum.getDebit()}"></td>
                <td th:text="${groumSum.getCredit() == 0} ? '0' : ${groumSum.getCredit()}"></td>

            </tr>
            <tr>
                <td><h5 style="font-weight: bold">Grand Total:</h5></td>
                <td th:text="${debitSum}"></td>
                <td th:text="${creditSum}"> </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
    <div class="col-md-1"></div>
</div>

<script th:replace="/navbar :: script">

</script>


</body>
</html>