<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->



    <title>Accounting Web Application</title>



</head>
<body>
<th:block th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <a class="navbar-brand" href="#">Accounting Web Application</a>
    <!--<ul class="navbar-nav mr-auto">-->
        <!--<li class="nav-item active">-->
            <!--<a class="nav-link">Left Link 1</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
            <!--<a class="nav-link">Left Link 2</a>-->
        <!--</li>-->
    <!--</ul>-->
    <ul class="navbar-nav ml-auto"  style="padding-right: 15px; color: white;">
        <li style="padding-top: 8px; padding-right: 10px;" class="nav-item" sec:authorize="isAuthenticated()">
        <a > <span class="fas fa-user" ></span> Welcome <span sec:authentication="name"></span></a>
        </li>
        <li class="nav-item dropdown">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Report
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Balance Sheet</a>
                <a class="dropdown-item" href="#">Profit & Loss A/c</a>
                <!--<div class="dropdown-divider"></div>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
            </div>
        </li>
        <li class="nav-item dropdown">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Transactions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Accounting Vouchers</a>
                <a class="dropdown-item" href="#">Inventory Vouchers</a>
                <!--<div class="dropdown-divider"></div>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
            </div>
        </li>

        <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')" class="nav-item dropdown">
            <a style="color: white"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{userlist}">User List</a>
                <a class="dropdown-item" th:href="@{create}">Create User</a>
                <!--<div class="dropdown-divider"></div>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
            </div>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <a style="color: white"  th:href="@{/logout}"  class="nav-link">Logout</a>
        </li>
    </ul>
</nav>



<div class="body">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
</div>
<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$(".dropdown-toggle").dropdown("toggle");-->
    <!--});-->
<!--</script>-->
<script th:src="@{/css/jquery.min.js}"/>
<script th:src="@{/css/bootstrap.min.js}"/>
<script th:src="@{/css/popper.min.js}"/>
</th:block>
</body>
</html>