.cardLogin{
    margin-top: 220px;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;

    width: 600px;
    height: 650px;

}
.cardLogin:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#cardRegi{
    margin-top: 10px;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;

    width: 600px;
    height: 950px;

}
#cardRegi:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
i{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
form{
    width: 300px;
    margin-left: 100px;
    padding-top: 50px;

}

input{
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 30px;
    height:  30px;
    width: 350px;
    padding-left: 50px;

}

textarea{
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 30px;
    height:  160px;
    width: 350px;
    padding-left: 50px;

}
.form-group{
    position: relative;
    font-size: 20px;

}

.form-group .fa-envelope-open{
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 20px;
    color: darkgray;
    padding-right: 5px;
}

.form-group .fa-key{
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 20px;
    color: darkgray;
    padding-right: 5px;
}

.form-group .fa-building{
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 20px;
    color: darkgray;
    padding-right: 5px;
}

.nav {
    font-size: 18px;
}

header {
    /*width: 100%;*/
    height: 552px;
    background: url("/img/background.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    padding: 100px 0px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}


.form-group .fa-mobile-alt{
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 20px;
    color: darkgray;
    padding-right: 5px;
}
.form-group .fa-user-alt{
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 20px;
    color: darkgray;
    padding-right: 5px;
}

.form-group .fa-user{
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 20px;
    color: darkgray;
    padding-right: 5px;
}




button {
    margin-left: 140px;
}

.navbar{
    margin-bottom: 30px;
}
/*Home Html CSS Design*/

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
/*.ml-auto .dropdown-menu {*/
    /*left: auto !important;*/
    /*right: 0px;*/
/*}*/

.nav-link{
    color: white;
}

#team-instructor{
    margin-top: 150px;
}



/*footer*/

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

li {
    list-style: none;
    text-decoration: none;
}

.btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
}

/*FOOTER 1*/
.footer1 a {
    color: #DDD;
    list-style: none;
}

.footer1 a:hover,
.footer1 a:focus,
.footer1 a:active {
    color: #FFF;
    list-style: none;
    text-decoration: none;
}

.footer1 .footer {
    background-color: #2E3436;
    padding: 35px 0;
    margin-top: 5em;
}

.footer1 .footer .footer-desc p {
    color: #DDD;
    margin: 15px 0 8px;
}

.footer1 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer1 .footer .social li {
    float: left;
}

.footer1 .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 15px 4px
}

.footer1 .footer .social li a:hover {
    background-color: #3A4144;
}

.footer1 .footer .input-group {
    margin: 15px 0;
}

.footer1 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
    font-size: 15px;
}

.footer1 .footer .form-control:hover,
.footer1 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer1 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
    font-size: 15px;
}

.footer1 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer1 .footer-bottom ul li {
    display: inline-block;
}

.footer1 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer1 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer1 .footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 550px) {
    .footer1 .footer-bottom .pull-left,
    .footer1 .footer-bottom .pull-right {
        float: none !important;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

#mySidenav a {
    position: fixed;
    right: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 110px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 5px 5px 5px 5px;

}

#mySidenav a:hover {
    right: 0;
}

#facebook {
    top: 280px;
    background-color: #395797;
}

#twitter {
    top: 360px;
    background-color: #2196F3;
}

#google {
    top: 440px;
    background-color: #f44336;
}

#linkedin {
    top: 520px;
    background-color: #0077B5
}
#youtube{
    top: 605px;
    background-color: #FF0000;
}


  /*Comment Box Text Sliding*/

.commentsliding {
    font-family: 'Open Sans', 'sans-serif';
    color: #1c7430;
    /*background: #222;*/
    overflow: hidden;
    height: 200px;

}

.item-1,.item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9
 {
    position: absolute;
    display: block;
    top: 172em;

    width: 100px;

    font-size: 22px;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/*.item-2*/
/*{*/
    /*position: absolute;*/
    /*display: block;*/
    /*top: 125em;*/

    /*width: 260px;*/

    /*font-size: 2em;*/

    /*animation-duration: 20s;*/
    /*animation-timing-function: ease-in-out;*/
    /*animation-iteration-count: infinite;*/
/*}*/

.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

.item-4{
    animation-name: anim-4;
}

.item-3{
    animation-name: anim-3;
}

.item-5{
    animation-name: anim-5;
}


.item-6{
    animation-name: anim-6;
}

.item-7{
    animation-name: anim-7;
}
.item-8{
    animation-name: anim-8;
}

.item-9{
    animation-name: anim-9;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 43%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 43%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
     0%, 66.66% { left: -100%; opacity: 0; }
     74.96%, 91.62% { left: 43%; opacity: 1; }
     100% { left: 110%; opacity: 0; }
 }

@keyframes anim-4 {
    0%, 99.66% { left: -100%; opacity: 0; }
    99.96%, 123.62% { left: 43%; opacity: 1; }
    133% { left: 110%; opacity: 0; }
}

@keyframes anim-5 {
    0%, 129.66% { left: -100%; opacity: 0; }
    125.96%, 166.62% { left: 43%; opacity: 1; }
    166% { left: 110%; opacity: 0; }
}

@keyframes anim-6 {
    0%, 163.66% { left: -100%; opacity: 0; }
    170.96%, 200.62% { left: 43%; opacity: 1; }
    200% { left: 110%; opacity: 0; }
}

@keyframes anim-7 {
     0%, 199.66% { left: -100%; opacity: 0; }
     212.96%, 254.62% { left: 43%; opacity: 1; }
     233% { left: 110%; opacity: 0; }
 }

@keyframes anim-8 {
    0%, 199.66% { left: -100%; opacity: 0; }
    212.96%, 254.62% { left: 43%; opacity: 1; }
    233% { left: 110%; opacity: 0; }
}

@keyframes anim-9 {
    0%, 199.66% { left: -100%; opacity: 0; }
    212.96%, 254.62% { left: 43%; opacity: 1; }
    233% { left: 110%; opacity: 0; }
}