<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head th:replace="/navbar :: navbarhead">


    <script>
        $(document).ready(function(c) {
            $('.alert').on('click', function(c){
                $('.moda').fadeOut('slow', function(c){
                    $('.moda').remove();
                });
            });
        });
    </script>

</head>
<body>
<div th:replace="/navbar :: navbar">

</div>
<div class="container">
    <div class="panel panel-primary">

        <h2 style="padding-top: 30px;" class="text-center panel-success" name="company" th:each="company : ${companyList}"
            th:value="${company.company_id}" th:text="${company.company_name}"></h2>

        <img th:each="company : ${companyList}"  th:src="${'/company/' + company.company_id}" style="margin-top: -70px; width: 100px; height: 100px; border-radius: 25%;">
        <b th:text="${execInfo.now.time}"  style="margin-left: 360px" ></b>

        <div class="period">
            <h4 style="float: right; margin-top: -30px; margin-right: 100px;">Cuurent Period</h4>
            <div class="da" style="margin-top: -40px; padding-bottom: 50px;">
                <div  class="date" style="float: right; margin-right: 50px;" th:each="company : ${companyList}">
                    <p  style="padding-right:90px;">to</p>
                    <p  style="float: right; padding-right: 20px; padding-left: 20px; margin-top: -30px;" th:text="${company.enddate}"></p>

                </div>

                <div  style="float: right;" class="date" th:each="company : ${companyList}">
                    <p  style="float: right; padding-right: 10px;" th:text="${company.startdate}"></p>

                </div>
            </div>

        </div>

        <h3 class="panel-heading text-center">Stock Group Creation</h3>
        <div class="well">
            <a class="panel-title btn btn-info" th:href="@{'/navbar/'+${companyId}+'/stockList'}">Stock Groups  List</a>
        </div>

        <form th:action="${'/navbar/'+companyId+'/stock/save'}" method="post" th:object="${stockGroups}" style="width: 500px; margin-left: 300px; margin-bottom: 50px;">
            <input type="hidden" th:value="${companyId}" name="companyId">
            <div class="form-group">
                <label for="stockGroupName">Name:</label>
                <input type="text" class="form-control" name="stockGroupName" id="stockGroupName" required>
            </div>






            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>


<script th:replace="/navbar :: script">

</script>


</body>
</html>