<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head th:replace="/navbar :: navbarhead">


<script>
    $(document).ready(function(c) {
        $('.alert').on('click', function(c){
            $('.moda').fadeOut('slow', function(c){
                $('.moda').remove();
            });
        });
    });
</script>

</head>
<body>
<div th:replace="/navbar :: navbar">

</div>


<div  style="margin-top: 10px; margin-left: 350px;" class="card container">
    <div class="panel panel-primary  text-center">


        <h2 style="padding-top: 30px;" class="text-center panel-success" name="company" th:each="company : ${companyList}"
            th:value="${company.company_id}" th:text="${company.company_name}"></h2>

        <img th:each="company : ${companyList}"  th:src="${'/company/' + company.company_id}" style="margin-top: -70px; width: 100px; height: 100px; border-radius: 25%;">


        <div class="panel-heading">
        <h3><span class="fas fa-user"></span>Group List</h3>
        </div>
        <div class="well">
            <a style="color: white;" class="panel-title btn btn-info" th:href="@{'/navbar/'+${companyId}+'/createGroup'}">Create Group</a>
            <a style="color: white;" class="panel-title btn btn-info" th:href="@{'/navbar/'+${companyId}+'/grouplists'}">Group List</a>
            <a style="color: white;" class="panel-title btn btn-info" th:href="@{'/navbar/'+${companyId}+'/yourgrouplists'}">Your Group List</a>
            <input type="hidden" th:value="${companyId}" name="companyId">
        </div>
    </div>
    <!--<div class="card-body">-->
        <!--<div id="loginModal" class="moda text-center"  style="width: 500px; padding-left: 800px;" >-->
            <!--<div class="moda text-center"  style="width: 500px;"  th:if="${message}" th:text="${message}"  th:class="${'alert ' + alertClass}">-->
                <!--<a th:href="@{/}" style="margin-left: 40px; text-decoration: none"></a>-->
            <!--</div>-->

        <!--</div>-->


        <table id="keywords" class="table table-bordered table-hover">

            <thead>
            <tr >
                <th >Id</th>
                <th >Group Name</th>
                <th>Under Group Name</th>


                <!--<th>Created By</th>-->

                <!--<th>Created Time</th>-->
                <th sec:authorize="hasAnyRole('ROLE_DEVELOPER')" style="padding-left: 30px;">Action</th>
            </tr>
            </thead>
            <tbody >
            <!--/*@thymesVar id="userslist" type=""*/-->
            <tr  th:each="group: ${grouplist}" >
                <td  width="10%" th:text="${group.getGroupId()}"></td>
                <td  width="35%" th:text="${group.getGroupName()}"></td>
                <td  width="35%" th:text="${group.getDevGroup().getGroupName()}"></td>


                <!--<td th:text="${group.getCreated_by()}"></td>-->

                <!--<td th:text="${group.getCreated_time()}"></td>-->
                <td sec:authorize="hasAnyRole('ROLE_USER')">
                    <a sec:authorize="hasAnyRole( 'ROLE_USER')" th:href="@{'/navbar/'+${companyId}+'/group/edit/' + ${group.getGroupId()}}"  class="btn btn-info" type="button">Edit</a>
                    <a sec:authorize="hasAnyRole('ROLE_USER')" th:href="@{'/navbar/'+${companyId}+'/group/delete/' + ${group.getGroupId()}}" class="btn btn-danger">Delete</a>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
</div>



<script th:replace="/navbar :: script">
    // $(document).ready(function () {
    //     var trigger = $('.hamburger'),
    //         overlay = $('.overlay'),
    //         isClosed = false;
    //
    //     trigger.click(function () {
    //         hamburger_cross();
    //     });
    //
    //     function hamburger_cross() {
    //
    //         if (isClosed == true) {
    //             overlay.hide();
    //             trigger.removeClass('is-open');
    //             trigger.addClass('is-closed');
    //             isClosed = false;
    //         } else {
    //             overlay.show();
    //             trigger.removeClass('is-closed');
    //             trigger.addClass('is-open');
    //             isClosed = true;
    //         }
    //     }
    //
    //     $('[data-toggle="offcanvas"]').click(function () {
    //         $('#wrapper').toggleClass('toggled');
    //     });
    // });
    //
    // $('.dropdown-toggle').dropdown();
</script>

</body>
</html>